<h1>User Profile</h1>

<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>
      <tr>
        <td class="pr-4"><strong>Name: </strong><%= @user.full_name %></td>
        <td class="pr-4"><strong>Email: </strong><%= @user.email %></td>
        <td class="pr-4"></td>
        <td>
          <% if current_user.not_friends_with?(@user.id) %>
            <%= link_to 'Follow user?', friendships_path(friend: @user), class: "btn btn-success btn-sm", data: { turbo_method: :post } %>
          <% else %>
            <span class="badge badge-secondary">You are friends</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead">This user is not tracking any stocks</p>
<% end %>